.presentation {
  line-height: 3rem;
  color: #e6e1db;
}

.presentation h1 {
  font-size: 3rem;
}

.home-container {
  display: flex;
  justify-content: space-evenly;
}

.coding-gif img {
  width: 500px;
  margin-top: 200px;
}
