.footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  /* align-items: flex-end; */
  height: 50px;
  bottom: 0;

}

.social-icons {
  display: inline-block;
  padding: 10px;
  transform: scale(0.8);
  transition: 0.5s;
}

.social-icons:hover {
  transform: scale(1) translateY(-10px);
}
