.footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: static;
  bottom: 0;
  align-items: center;
  height: 50px;
}

.social-icons {
  display: inline-block;
  padding: 10px;
  transform: scale(0.8);
  transition: 0.5s;
}

.social-icons:hover {
  transform: scale(1) translateY(-10px);
}

.credits p {
  color: white;
}

.bgg img {
  width: 30px;
  transform: scale(0.8);
  transition: 0.5s;
  margin-bottom: -4px;
}

.bgg img:hover {
  transform: scale(1) translateY(-10px);
}
